@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 1000px;overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 900000000;
    transition: 0.6s;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #2ecc71;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;

}

header.sticky .logo,
header.sticky ul li a {
    color: #000;

}
.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    align-items: center;
}
.sec .contents{
position:relative;text-align: center;
width: 100%;
}
.blue-section{
    background: #2c3e50;
    color: #fff;
}
.blue-section ul li a{
    color: #fff !important; 
}
.blue-section ul li a:hover{
    color:#2ecc71 !important;
}
.content{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.content .textbox{
    position: relative;
    width: 100%;
}
.content .textbox h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-weight: 700;
}

.info-section .features {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
[class*="col-"] {
    float: left;
    padding: 15px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;


}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

#secondHalf {
    display: flex;
    justify-content:center;
    align-items:center;
   
}
#secondHalf ul{
    margin: auto;
    list-style: none;
    line-height: 1.5em;
}
#secondHalf ul li a{
    text-decoration: none;
    color: #333;
    padding: 5px;
    font-size:1.2em;
    
}
#secondHalf ul li a:hover{
    color:#2ecc71;
}
.featurette-divider {
    margin: 5rem 0; 
    max-width: 90% !important;
    text-align: center;
    margin: auto;
  }
  h3{
      font-size: 1.5em;
  }
.toggle{
    display: none;
}
.contact {
    background: #fff;

}

.contact h3,
.contact p {
    color: #000;
}

.contactForm {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.contactForm form {
    width: 100%;
}

.contactForm .row100 {
    display: flex;
    width: 100%;
}

.contactForm .row100 .inputBx50 {
    width: 50%;
    margin: 0 20px;
}

.contactForm .row100 .inputBx100 {
    width: 100%;
    margin: 0 20px;
}

.contactForm .row100 input,
.contactForm .row100 textarea {
    position: relative;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.contactForm .row100 textarea {
    height: 100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder {
    color: rgba(0, 0, 0, 0.5)
}

.contactForm .row100 input[type="submit"] {
    background: #fff;
    color: #000;
    max-width: 100px;
text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}

.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sci ul {
    display: flex;
}

.sci ul li {
    list-style-type: none;
}

.sci ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}

.sci ul li a img {
  
    max-width: 40px;
}

.sci ul li a:hover img {
    opacity: 0.5;
    transition: 0.2s;
}

.copyright a {
    color: #000;
    text-align: center;
}
.mxw800p h3,
.mxw800p p{
text-align: center;
}
@media (max-width: 992px){
    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;

    }
.table{
    overflow-x: scroll;
}

    .toggle:before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }

    .toggle::after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }

    header,
    header.sticky {
        padding: 5px 50px;
        margin: none;
background: #fff;
    }
    header ul{
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    header.active ul{
visibility: visible;
opacity: 1;
display: block;
padding-top: 20px;
    }
    header.active ul li a{
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
        padding-top: 20px;
    }
    header .logo,
    header ul li a{
        color: #000;
    }
    .row100{
        flex-direction: column;
    }
    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100{
        width: 100%;
        margin: 0;
    }
    .sci{
        margin: 20px;
    }
    .sci ul li a img{
        font-size: 24px;
    }

    .col-6{
        width: 100%;
    }
    .sec{
        padding: 100px 50px 50px;
    }
}
@media (max-width: 320px){
    .content .textbox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    ul{
        margin-top: 50px;
    }
}